
@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
} 

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

/*componente principal do jogo*/
[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-color: dodgerblue;
    overflow: hidden;
}

/*classe do passaro que sera movimentado*/
.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
}

/*classe do par de obstaculos*/
.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100;
}

.menu {
    position: absolute;
    left: calc(50% - 120px); 
    top: calc(50% - 90px);
    background-image: radial-gradient(gold, #cc7007);
    border: 5px solid #000;
    border-radius: 20px;
    padding: 30px;
    font-family: Pixel;
    font-size: 80px;
    z-index: 1000;
}